* { 
    margin: 0; 
    padding: 0; 
    color: white; 
    font-family: Belanosima, sans-serif; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    display: none;
}

.profile-header {
    background-color: rgb(26, 25, 25);
    
    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-header .profile-img {
    width: 150px; 
    height: 150px;
    
    margin-left: 25px;
    
    border-radius: 50%;
    border: 4px solid white;
}

.profile-header div {
    width: 300px; 
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-header div img {
    width: 40px;
    height: 40px;

    margin-left: 10px;
    transition: ease-in-out .2s;
}

.profile-header p {
    width: 220px;
    height: 100px;

    margin-left: 25px;
    line-height: 100px;

    font-size: 70px;
    font-weight: bold;
}

.profile-header div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Sections */

main {
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.section-title{
    width: 500px;
    height: 400px;
    
    font-size: 80px;
    text-align: center;
    align-items: center;
    display: flex;
}

.white-section {
    background-color: rgb(255, 255, 255);
}
.white-section *{
    color: rgb(26, 25, 25);
    background-color: rgb(255, 255, 255);
}

.black-section {
    background-color: rgb(26, 25, 25);
}

.black-section *{
    color: rgb(255, 255, 255);
    background-color: rgb(26, 25, 25);
}

.content {
    width: 900px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content img{
    width: 90px;
    height: 90px;

    margin-left: 15px;
}

.content img:nth-child(odd){
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.content img:nth-child(even){
    animation-name: floating-reverse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.made-by {
    color: gray; 
    font-size: 50px; 
    text-align: center; 
    width: 500px; 
    height: 90px; 
    line-height: 90px; 
    margin-top: 100px;
    
}

/* Animations */

@keyframes floating {
    0% { transform: translate(0,  -15px); }
    50% { transform: translate(0,  15px); }
    100%   { transform: translate(0, -15px); }   
}

@keyframes floating-reverse {
    0% { transform: translate(0,  15px); }
    50% { transform: translate(0,  -15px); }
    100%   { transform: translate(0, 15px); }    
}

/* Media */


@media screen and (max-width: 600px){
    .profile-header {
        width: 100%;
        height: 700px;
        
        flex-wrap: wrap;
        align-items: center;
    }

    .profile-header .profile-img {
        width: 100px; 
        height: 100px;
        
        margin-top: 200px;
        margin-left: 15px;
    }

    .profile-header p {
        width: 300px;
        height: 100px;
        
        text-align: center;
        margin-left: 15px;
        line-height: 100px;
        
        font-size: 60px;
        font-weight: bold;
    }
    
    .profile-header div {
        width: 300px; 
        height: 100px;
        
        margin-bottom: 250px;
    }
    
    .profile-header div img {
        width: 30px;
        height: 30px;
        
        margin-left: 10px;
        transition: ease-in-out .2s;
    }

    svg {
        z-index: 1;
    }
    
    section {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        
    }
    
    section:last-child {
        height: 200px;
    }
    
    .section-title{
        width: 300px;
        height: 200px;
        
        font-size: 50px;
        text-align: center;
        
        margin-top: 100px;
        
    }
    
    .content {
        width: 300px;
        height: 300px;
        display: flex;
        flex-wrap:wrap;
        
        margin-bottom: 100px;
        
        align-items: center;
        justify-content: center;
    }
    
    .content img{
        width: 60px;
        height: 60px;
        
        margin-left: 15px;
    }
    
    .black-section .section-title{
        margin-top: 0px;
        margin-bottom: 100px;
    }
    
    .black-section .content{
        margin-top: 100px;
        margin-bottom: 0px;
    }
    
    .made-by{
        width: 300px;
        font-size: 30px;
        margin-top: 0px;
    }
}